# 품목별 수출입실적 분석
- 데이터 읽기 (0~3행 skip)
- 상위 5개 데이터 확인하기
- 불필요한 행 삭제 및 인덱스 초기화 !!reset_index!!
  - 0, 485 행 : '총계', '설명' 에 해당하는 row 삭제
  - 인덱스를 0부터 초기화 
- 컬럼 데이터 타입 변경
  - 수출중량~무역수지 : Object 타입 ==> float으로 데이터 타입 변경
- 연도별 무역수지 평균 및 합계
- 연도별 무역수지가 가장 적은 품목은?

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 데이터 읽기
df = pd.read_excel('./품목별  수출입실적_20230232.xls', skiprows = [0,1,2,3])
print(df.shape)

(486, 8)

In [3]:
# 상위 5개 데이터 확인하기
print(df.head())

     기간                                        품목명  품목코드           수출중량  \
0    총계                                        NaN   NaN  967,575,781.9
1  2018                                   살아 있는 동물   1.0           52.8
2  2018                               육과 식용 설육(屑肉)   2.0       32,982.9
3  2018             어류ㆍ갑각류ㆍ연체동물과 그 밖의 수생(水生) 무척추동물   3.0      443,775.5
4  2018  낙농품, 새의 알, 천연꿀, 다른 류로 분류되지 않은 식용인 동물성 생산품   4.0       25,791.3

              수입중량           수출금액           수입금액         무역수지
0  2,886,113,032.4  2,985,863,296  2,852,488,115  133,375,181
1          1,362.8          3,188         73,643      -70,455
2      1,220,751.0         38,226      5,123,574   -5,085,348
3      1,344,280.3      1,481,657      5,045,539   -3,563,882
4        275,193.1         54,342        932,004     -877,662

In [4]:
# 불필요한 행 삭제 및 인덱스 초기화
df = df.drop([0, 485])
df2 = df.reset_index(drop = True)
print(df2)

       기간                                                품목명  품목코드       수출중량  \
0    2018                                           살아 있는 동물   1.0       52.8
1    2018                                       육과 식용 설육(屑肉)   2.0   32,982.9
2    2018                     어류ㆍ갑각류ㆍ연체동물과 그 밖의 수생(水生) 무척추동물   3.0  443,775.5
3    2018          낙농품, 새의 알, 천연꿀, 다른 류로 분류되지 않은 식용인 동물성 생산품   4.0   25,791.3
4    2018                              다른 류로 분류되지 않은 동물성 생산품   5.0   33,459.1
..    ...                                                ...   ...        ...
479  2022                               무기ㆍ총포탄과 이들의 부분품과 부속품  93.0   20,316.2
480  2022  가구, 침구ㆍ매트리스ㆍ매트리스 서포트(mattress support)ㆍ쿠션과 이와 ...  94.0  173,519.8
481  2022                         완구ㆍ게임용구ㆍ운동용구와 이들의 부분품과 부속품  95.0   24,589.5
482  2022                                                 잡품  96.0   31,377.8
483  2022                                        예술품ㆍ수집품ㆍ골동품  97.0      194.4

            수입중량       수출금액       수입금액        무역수지
0        1,362.8      3,188     73,643     -70,455
1    1,220,751.0     38,226  5,123,574  -5,085,348
2    1,344,280.3  1,481,657  5,045,539  -3,563,882
3      275,193.1     54,342    932,004    -877,662
4       59,282.8     87,459    304,607    -217,148
..           ...        ...        ...         ...
479      1,232.1  1,290,479    152,485   1,137,994
480    788,165.4  1,391,227  3,953,532  -2,562,305
481    199,833.0    551,628  3,097,641  -2,546,013
482    109,544.2    512,519  1,031,415    -518,896
483      1,260.3    277,020    811,387    -534,367

[484 rows x 8 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 1 to 484
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      484 non-null    object
 1   품목명     484 non-null    object
 2   품목코드    484 non-null    float64
 3   수출중량    484 non-null    object
 4   수입중량    484 non-null    object
 5   수출금액    484 non-null    object
 6   수입금액    484 non-null    object
 7   무역수지    484 non-null    object
dtypes: float64(1), object(7)
memory usage: 30.4+ KB

In [6]:
# i) 컬럼 데이터 타입 변경 (',.-'등이 있으면 정수로 변경할 수 없음) : 데이터프레임 객체 

df[df.columns[3:]] = df[df.columns[3:]].replace(',','',regex=True) # 이거 자체는 데이터프레임 객체라서 str함수는 못 씀
print(df.head())
# 여기서 astype 또 해줘야 돼서 ii)쓰는 게 나음

     기간                                        품목명  품목코드      수출중량       수입중량  \
1  2018                                   살아 있는 동물   1.0      52.8     1362.8
2  2018                               육과 식용 설육(屑肉)   2.0   32982.9  1220751.0
3  2018             어류ㆍ갑각류ㆍ연체동물과 그 밖의 수생(水生) 무척추동물   3.0  443775.5  1344280.3
4  2018  낙농품, 새의 알, 천연꿀, 다른 류로 분류되지 않은 식용인 동물성 생산품   4.0   25791.3   275193.1
5  2018                      다른 류로 분류되지 않은 동물성 생산품   5.0   33459.1    59282.8

      수출금액     수입금액      무역수지
1     3188    73643    -70455
2    38226  5123574  -5085348
3  1481657  5045539  -3563882
4    54342   932004   -877662
5    87459   304607   -217148

In [7]:
# ii) 컬럼 데이터 타입 변경 (',.-'등이 있으면 정수로 변경할 수 없음) : 시리즈 객체

for col in df.columns[3:]:
    df[col] = df[col].str.replace(',','').astype(float)

In [8]:
# 기간별 데이터 수 확인
df['기간'].value_counts()

기간
2018    97
2019    97
2020    97
2021    97
2022    96
Name: count, dtype: int64

In [89]:
# 연도별 무역수지 평균 및 합계
grouped = df.groupby('기간')[['무역수지']].agg(['sum','mean'])
print(grouped)

            무역수지
             sum           mean
기간
2018  69226716.0  713677.484536
2019  38636200.0  398311.340206
2020  44609271.0  459889.391753
2021  28934079.0  298289.474227
2022 -48031096.0 -500323.916667

In [92]:
grouped.columns = ['평균 무역수지', '총 무역수지']
for col in ['평균 무역수지','총 무역수지']:
    grouped[col] = grouped[col].apply(lambda x:f'{x:,.2f}')
print(grouped)

             평균 무역수지       총 무역수지
기간
2018   69,226,716.00   713,677.48
2019   38,636,200.00   398,311.34
2020   44,609,271.00   459,889.39
2021   28,934,079.00   298,289.47
2022  -48,031,096.00  -500,323.92

In [96]:
# 연도별 무역수지가 가장 적은 품목은?
grouped = df.groupby('기간')[['품목명','무역수지']]
for year, group in grouped:
    print('연도:', year)
    print(group.sort_values('무역수지').head(1))
    print('-'*80)

연도: 2018
                                           품목명        무역수지
27  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -98964778.0
--------------------------------------------------------------------------------
연도: 2019
                                            품목명        무역수지
124  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -85162279.0
--------------------------------------------------------------------------------
연도: 2020
                                            품목명        무역수지
221  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -61119425.0
--------------------------------------------------------------------------------
연도: 2021
                                            품목명        무역수지
318  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -97560443.0
--------------------------------------------------------------------------------
연도: 2022
                                            품목명         무역수지
415  광물성 연료ㆍ광물유(鑛物油)와 이들의 증류물, 역청(瀝靑)물질, 광물성 왁스 -153720416.0
--------------------------------------------------------------------------------